@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Abel);

/*backbone*/

.gameContainer {
	width: 1280px;
}

#gameTitle {
	font-family: Handlee;
	font-size: 400%;
	padding-left: 30px;
	background-color: black;
	color: white;
}

#background {
	margin-left: -20px;
	width: 1285px;
	height: 597px;
	opacity: 0.65;
}

/*instructions and form*/
#form {
	position: absolute;
	top: 100px;
	left: 10px;
	color: white;
}

#description {
	margin-bottom: 30px;
}

.lineIndent {
	margin-left: 16px;
}

#startGame {
	margin-top: 15px;
}

#line {
	margin-left: 0px;
	width: 300px;
}

#guessText {
	margin-top: -18px;
	margin-bottom: 25px;
}

#guess {
	width: 250px;
	margin-bottom: 25px;
}

/*answer display*/

#artistName {
	font-family: Abel;
	font-size: 250%;
	width: 430px;
	color: white;
	position: absolute;
	bottom: 60px;
	left: 0px;
}

#songName {
	font-family: Abel;
	font-size: 250%;
	width: 430px;
	color: white;
	position: absolute;
	bottom: 20px;
	left: 0px;
}

#coverArt {
	height: 300px;
	position: absolute;
	bottom: 160px;
	left: 60px;
	border: 2px solid black;
}

/*scoreboard*/

#rightPanel {
  position: absolute;
  bottom: 10px;
  color: white;
}

#scores {
	font-size: 155%;
}

#standings {
  font-size: 125%;
}

#name {
  margin-left: 5px;
  color: black;
}

#competitorName {
  margin-left: 60px;
  margin-right: 60px;
}

.compName {
  margin-left: 40px;
  margin-right: 65px;
}










