@import url(http://fonts.googleapis.com/css?family=Handlee);

.gameContainer {
	width: 1280px;
}

#gameTitle {
	font-family: Handlee;
	font-size: 400%;
	padding-left: 30px;
	background-color: black;
	color: white;
}

#background {
	margin-left: -20px;
	width: 1285px;
	height: 595px;
	opacity: 0.65;
}

#form {
	position: absolute;
	top: 120px;
}

#test {
	color: white;
}