@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Abel);

/*backbone*/

.gameContainer {
	width: 1280px;
}

#gameTitle {
	font-family: Handlee;
	font-size: 400%;
	padding-left: 30px;
	background-color: black;
	color: white;
}

#background {
	margin-left: -20px;
	width: 1285px;
	height: 595px;
	opacity: 0.65;
}

/*instructions and form*/
#form {
	position: absolute;
	top: 110px;
	left: 10px;
	color: white;
}

#description {
	margin-bottom: 30px;
}

.lineIndent {
	margin-left: 16px;
}

#startGame {
	margin-top: 15px;
}

#line {
	margin-left: 0px;
	width: 300px;
}

#guessText {
	margin-top: -18px;
	margin-bottom: 25px;
}

#guess {
	width: 250px;
	margin-bottom: 25px;
}

/*answer display*/

#artistAndSongName {
	font-family: Abel;
	font-size: 300%;
	color: white;
	position: absolute;
	bottom: 510px;
	left: 0px;
}

#coverArt {
	height: 380px;
	position: absolute;
	bottom: 117px;
	left: 20px;
	border: 2px solid black;
	border-radius: 100px;
}








